.foodHeal > .windowContentLine > label
{
	min-width: 84px;
}

.foodHeal input[type=text]
{
	margin-right: 12px;
}

.foodHeal button
{
	cursor: pointer;
}

.foodHeal .buttonSolid > input
{
	display: none;
}

.foodHeal > div:last-child
{
	margin-top: 24px;
}

.foodHeal > div:last-child > :not(:last-child)
{
	margin-right: 12px;
}

.foodHeal > .warning
{
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	display: block;
}