
.pallete .colorContainer
{
  background-color: #002654C0;
  display: flex;
  flex-direction: row;
  height: 60px;

  padding: 8px;
	margin-top: 16px;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.pallete .colorContainer label
{
  height: 30px;
  width: 30px;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: white;

  margin-top: auto;
  margin-bottom: auto;

	cursor: pointer;
}

.pallete .colorContainer label:not(:last-child)
{
  margin-right: auto;
}

.pallete .colorContainer .colorSelected
{
  height: 40px;
  width: 40px;

  border-radius: 6px;
  border-width: 2px;
  border-color: #CD1226;
}

.pallete .customColor
{
	width: 21px;
	height: 21px;

	margin-left: 32px;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.pallete .palleteHint
{
	margin-top: 16px;
}

.pallete .palleteHint span
{
	color: #32cd32;
	font-weight: bold;
	font-size: 1em;
	margin-top: auto;
	margin-bottom: auto;
}

.pallete .windowContentLine > label:not(.checkbox)
{
	min-width: 142px;
}

.pallete > div:last-child
{
	margin-top: 16px;
}

.pallete > div:last-child > *
{
	margin-top: 8px;
}

.pallete > div:last-child > :not(:last-child),
.pallete button:not(:last-child)
{
	margin-right: 12px;
}

.pallete .buttonSolid
{
	cursor: pointer;
}

.pallete .buttonSolid > input
{
	display: none;
}

.pallete .warning
{	
	text-align: center;
	display: block;
}

.pallete .warning:first-child
{
	margin-top: 12px;
}

.pallete .warning:last-child
{
	margin-bottom: 12px;
}