.modification select
{
  color: white;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  outline: 0;

	width: 100%;
	max-width: 100%;
	overflow-y: overlay;

  background-color: #002654C0;
}

.modification .buttonSolid
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.modification > div:last-child
{
	margin-top: 24px;
}