.playerHealth input[type=text]
{
	margin-right: 12px;
}

.playerHealth button
{
	cursor: pointer;
}

.playerHealth .buttonSolid > input
{
	display: none;
}

.playerHealth > div:last-child
{
	margin-top: 24px;
}

.playerHealth > div:last-child > :not(:last-child)
{
	margin-right: 12px;
}

.playerHealth > .warning
{
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	display: block;
}