.header
{
	background-color: transparent;

	margin: 0px;
	padding: 0px;
	
	min-height: 128px;
	max-height: 128px;
}

.header > div
{
	color: whitesmoke;
	background-color: #002654;
	font-size: 1.5em;

	margin: 4px;
	width: 100%;
	
	border-radius: 6px;
  box-shadow: 0 0 4px 2px #162336;
}

.header > div > div
{
	margin: auto;
}

.header div > img:not(.pssmeLogo)
{
	min-width: 82px;
	max-width: 82px;
	min-height: 98px;
	max-height: 98px;

	margin-top: auto;
	margin-bottom: auto;
	margin-left: 8px;
	margin-right: 8px;
}

.pssmeLogo
{
	min-width: 382px;
	max-width: 382px;
	min-height: 98px;
	max-height: 98px;

	margin-top: auto;
	margin-bottom: auto;
	margin-left: 8px;
	margin-right: 8px;
}

.header div > label
{
	color: #CD1226;
	font-size: 2em;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 12px;
	margin-right: 12px;
}