.header
{
  background-color: #002654;

  margin: 0px;
  padding: 0px;

  min-height: 128px;
  max-height: 128px;
}

.header > div
{
  margin-bottom: auto;
  margin-top: auto;

  margin-left: auto;
  margin-right: auto;

  color: whitesmoke;
  font-size: 1.5em;
}

.header > div > img:not(.pssmeLogo)
{
  min-width: 82px;
  max-width: 82px;
  min-height: 98px;
  max-height: 98px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  margin-right: 8px;
}

.pssmeLogo
{
  min-width: 382px;
  max-width: 382px;
  min-height: 98px;
  max-height: 98px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  margin-right: 8px;
}

.header > div > label
{
  color: #cd1226;
  font-size: 2em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  margin-right: 12px;
}