.textfield
{
  border-radius: 0;
  border-width: 1px;
  border-style: solid;

  padding: 2px;

  color: white;
  border-color: white;
  background-color: #002654B0;
}

/*

.fakeButton
{
  font: 400 13.3333px Arial;
  text-decoration: none;
  text-align: center;

  overflow: hidden;

  position: relative;
  display: inline;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.fakeButton:hover,
.fakeButton > :first-child:hover,
.fakeButton > input:hover,
{
  cursor: pointer;
}

.fakeButton > input[type=file]
{
  top: 0;
  left: 0;
  position: absolute;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  opacity: 0;
  cursor: pointer;
}

*/

.buttonSolid > input, buttonLight > input
{
  display: none;
}

.buttonSolid, .buttonLight:hover,
.buttonLight:disabled
{
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-color: #002654;
  background-color: #002654;
  /*
  border-color: #f6a427;
  background-color: #f6a427;
  */
}

.buttonLight, .buttonSolid:hover,
.buttonSolid:disabled 
{
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  border-color: #002654;
  color: #002654;
  /*
  border-color: #f6a427;
  color: #f6a427;
  */
}

.buttonSolid:active
{
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-color: #002654;
  background-color: #002654;
  /*
  border-color: #f6a427;
  background-color: #f6a427;
  */
}

.buttonLight:active
{
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  border-color: #002654;
  color: #002654;
  /*
  border-color: #f6a427;
  color: #f6a427;
  */
}

.buttonSolid:focus, .buttonLight:focus,
.textfield:focus
{
  outline: none;
  box-shadow: none;
}

.hidden
{
  display: none !important;
}

.rowLinedFlex
{
  display: flex;
  flex-direction: column;
}

.colLinedFlex
{
  display: flex;
  flex-direction: row;
}

.root
{
  height: 100%;
}

body
{
  height: 100%;
  min-width: 1000px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,     
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2A3547;
}

html
{
  height: 100%;
}

code
{
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}